body {
    background-color: #1c2438;
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
}

.container {
    @media (min-width: 1520px) {
        max-width: 1420px;
    }
}

.slider-home {
    position: relative;
    display: block;
    width: 100%;
    max-width: 1047px;
    height: 492px;
    overflow: hidden;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: -49px;
        width: 49px;
        height: 100%;
        background: linear-gradient(270deg, #091024 0%, rgba(25, 32, 50, 0) 100%);
    }
    &::after {
        content: "";
        position: absolute;
        top: 0;
        right: -49px;
        width: 49px;
        height: 100%;
        background: linear-gradient(90deg, #091024 0%, rgba(19, 24, 39, 0) 100%);
    }
    &__inner {
        position: absolute;
        display: flex;
        flex-direction: row;
        align-items: stretch;
        width: 100%;
        height: 100%;
        overflow: hidden;
        background-image: linear-gradient(90deg, #000000 -84.31%, rgba(0, 0, 0, 0) 81.86%);
        & .slidewrapper {
            position: relative;
            width: calc(100% * 4);
            top: 0;
            left: 0;
            margin: 0;
            padding: 0;
            transition: 1s ease-in-out;
            & ul,
            & li {
                margin: 0;
                padding: 0;
            }
            & li {
                position: relative;
                list-style: none;
                display: none;
                float: left;
                opacity: 0;
                transition: 0.5s;
                & .banner-content {
                    display: none;
                }
                &.shown {
                    position: relative;
                    list-style: none;
                    display: inline;
                    float: left;
                    opacity: 1;
                    transition: 0.5s;
                    transform: translate(0, 0);
                    & .banner-content {
                        position: absolute;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        transform: translate(66px, 70%);
                        & .sup-title {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 15px;
                            text-transform: uppercase;
                            color: #87e389;
                            margin-bottom: 21px;
                        }
                        & .title {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 36px;
                            line-height: 38px;
                            text-transform: uppercase;
                            color: #ffffff;
                            margin-bottom: 39px;
                        }
                        & .sub-title {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: normal;
                            font-size: 14px;
                            line-height: 18px;
                            color: #ffffff;
                            margin-bottom: 24px;
                        }
                        & .action {
                            & .btn-cta {
                                font-family: Roboto;
                                font-style: normal;
                                font-weight: 500;
                                font-size: 14px;
                                line-height: 15px;
                                display: flex;
                                align-items: center;
                                text-align: center;
                                color: #121423;
                                height: 26px;
                            }
                        }
                    }
                }
            }
            & .slide-img {
                width: 100%;
                height: 492px;
            }
            & img.slide-img {
                width: 100%;
                object-fit: cover;
            }
        }
    }
    & .slider-container {
        position: relative;
        margin: 0;
        padding: 0;
        width: 100%;
        height: 100%;
        padding-left: 53px;
        display: flex;
        flex-wrap: wrap;
        &__inner {
            display: flex;
            flex-direction: column;
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            & .slider-navigation {
                margin-top: 68px;
                margin-bottom: 21px;
                width: 207px;
                height: auto;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: flex-start;
                & .slider-btn {
                    cursor: pointer;
                    display: block;
                    width: 33px;
                    height: 33px;
                    background-color: transparent;
                    border: 1px solid #595959;
                    border-radius: 100%;
                    transition: background-color 0.5s;
                    &:hover {
                        background-color: #595959;
                    }
                    &.prev-btn {
                        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.646446 3.64645C0.451184 3.84171 0.451184 4.15829 0.646446 4.35355L3.82843 7.53553C4.02369 7.7308 4.34027 7.7308 4.53553 7.53553C4.7308 7.34027 4.7308 7.02369 4.53553 6.82843L1.70711 4L4.53553 1.17157C4.7308 0.97631 4.7308 0.659728 4.53553 0.464465C4.34027 0.269203 4.02369 0.269203 3.82843 0.464465L0.646446 3.64645ZM12 3.5L1 3.5L1 4.5L12 4.5L12 3.5Z' fill='white'/%3E%3C/svg%3E%0A");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 11px;
                        margin-right: 4px;
                    }
                    &.next-btn {
                        background-image: url("data:image/svg+xml,%3Csvg width='12' height='8' viewBox='0 0 12 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11.3536 4.35356C11.5488 4.15829 11.5488 3.84171 11.3536 3.64645L8.17157 0.464468C7.97631 0.269205 7.65973 0.269205 7.46447 0.464467C7.2692 0.65973 7.2692 0.976312 7.46447 1.17157L10.2929 4L7.46447 6.82843C7.2692 7.02369 7.2692 7.34027 7.46447 7.53554C7.65973 7.7308 7.97631 7.7308 8.17157 7.53554L11.3536 4.35356ZM-8.74227e-08 4.5L11 4.5L11 3.5L8.74227e-08 3.5L-8.74227e-08 4.5Z' fill='white'/%3E%3C/svg%3E%0A");
                        background-position: center;
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: 11px;
                        margin-left: 4px;
                    }
                }
            }
            & .nav-btns {
                margin-top: auto;
                margin-bottom: 19px;
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: flex-end;
                justify-content: flex-start;
                list-style: none;
                & .slide-nav-btn {
                    cursor: pointer;
                    // flex: 1 0 25%;
                    width: 100%;
                    height: 5px;
                    background-color: rgba(72, 80, 143, 0.7);
                    border: 0;
                    border-radius: 50px;
                    margin-right: 11px;
                    padding: 0;
                    &:hover {
                        background-color: rgba(72, 80, 143, 1);
                    }
                    &.active {
                        background-color: #87e389;
                    }
                }
            }
        }
    }
}

.section {
    &.section {
        .section__title {
            font-family: Roboto;
            font-style: normal;
            font-weight: bold;
            font-size: 24px;
            line-height: 28px;
            color: #ffffff;
            @media (max-width: 575px) {
                font-size: 16px;
                line-height: 20px;
            }
        }
        &__home {
            & .block-home {
                & .form-login {
                    @media (max-width: 991px) {
                        order: 1;
                    }
                }
            }
        }
        &__categories {
            background-color: #121423;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
            & .sup-block {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 22px 0 19px 0;
                margin: 0;
                @media (max-width: 991px) {
                    flex-direction: column;
                }
                & .categories-nav {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    & .link {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                        text-align: center;
                        color: #ffffff;
                        text-decoration: none;
                        margin: 10px 30px 10px 0;
                        flex: 0 1 auto;
                        transition: color 0.5s;
                        &:hover {
                            color: #8187ad;
                        }
                        &.icon {
                            padding-left: 28px;
                            background-repeat: no-repeat;
                            background-position: 0 50%;
                            &__new-games {
                                background-size: contain;
                                background-image: url("data:image/svg+xml,%3Csvg width='27' height='27' viewBox='0 0 27 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.1645 18.0783L21.7391 15.3081C21.7055 15.0885 21.7594 14.8644 21.8889 14.684L23.5248 12.4083C23.7798 12.0536 23.7236 11.5633 23.3954 11.2752L21.2889 9.42647C21.122 9.27991 21.0191 9.07373 21.0025 8.85227L20.7928 6.05752C20.7603 5.6219 20.4022 5.28233 19.9655 5.27253L17.1633 5.21041C16.9413 5.20531 16.73 5.11348 16.5748 4.95468L14.6179 2.94864C14.3128 2.63606 13.8203 2.60592 13.4794 2.87925L11.2931 4.63244C11.1198 4.77136 10.8989 4.83681 10.6779 4.81475L7.88911 4.53594C7.45434 4.49248 7.05773 4.78604 6.97242 5.21439L6.42443 7.96297C6.38113 8.1808 6.25385 8.37303 6.07036 8.49823L3.75496 10.0774C3.39401 10.3235 3.27915 10.8033 3.489 11.1865L4.83603 13.6441C4.94285 13.839 4.969 14.0679 4.90885 14.2818L4.15016 16.9798C4.03173 17.4003 4.25223 17.842 4.65907 18.0003L7.27076 19.0171C7.47775 19.0976 7.64475 19.2563 7.73652 19.4587L8.88929 22.0131C9.06907 22.4111 9.52187 22.6079 9.93535 22.4677L12.5896 21.5679C12.7999 21.4965 13.0299 21.5106 13.2302 21.6072L15.7552 22.8228C16.1489 23.0124 16.622 22.8719 16.8487 22.4988L18.3036 20.1034C18.4191 19.9134 18.6042 19.7764 18.8194 19.7214L21.5352 19.0296C21.9585 18.9216 22.2308 18.5101 22.1645 18.0783ZM9.81443 15.4159L8.23474 12.8458L8.22796 15.4116L7.49012 15.4097L7.50019 11.4754L8.27299 11.4772L9.87681 14.1088L9.88332 11.4814L10.6212 11.4831L10.6115 15.4178L9.81443 15.4159ZM11.4514 15.4199L11.4615 11.4856L14.379 11.4927L14.377 12.1584L12.2539 12.1529L12.2517 13.025L14.2273 13.0299L14.2255 13.6929L12.2501 13.6877L12.2474 14.7586L14.4454 14.7642L14.4436 15.4272L11.4514 15.4199ZM18.1021 15.437L17.326 12.4932L16.5373 15.4326L15.6759 15.4305L14.7467 11.4939L15.5598 11.4957L16.1461 14.1999L16.8722 11.4993L17.8173 11.5017L18.4999 14.2517L19.1107 11.505L19.9105 11.5069L18.9448 15.4391L18.1021 15.437Z' fill='%23C25202'/%3E%3C/svg%3E%0A");
                            }
                            &__popular {
                                background-size: contain;
                                background-image: url("data:image/svg+xml,%3Csvg width='22' height='20' viewBox='0 0 22 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.0383 17.2787C19.0383 16.3834 18.3134 15.6584 17.418 15.6584H4.58366C3.68831 15.6584 2.96338 16.3834 2.96338 17.2787C2.96338 18.1741 3.68831 18.899 4.58366 18.899H17.418C18.314 18.899 19.0383 18.1714 19.0383 17.2787Z' stroke='%23EEAB01'/%3E%3Cpath d='M3.67925 14.77L3.78061 15.1369H4.16119H11.001H17.8388H18.2194L18.3208 14.77L20.0035 8.67984C20.8548 8.52211 21.5 7.77527 21.5 6.87842C21.5 5.86696 20.6794 5.0463 19.6679 5.0463C18.6565 5.0463 17.8358 5.86696 17.8358 6.87842C17.8358 6.93093 17.838 6.98324 17.8425 7.03519L15.3622 8.48526L12.3784 3.53866C12.6605 3.21675 12.8332 2.79421 12.8332 2.33212C12.8332 1.32066 12.0125 0.5 11.001 0.5C9.98961 0.5 9.16892 1.32066 9.16892 2.33212C9.16892 2.79523 9.3403 3.21752 9.62316 3.53946L6.63984 8.48526L4.15931 7.03501C4.16387 6.98361 4.16627 6.93136 4.16627 6.87842C4.16627 5.86696 3.34561 5.0463 2.33415 5.0463C1.32116 5.0463 0.5 5.86646 0.5 6.87842C0.5 7.77525 1.14518 8.52211 1.99653 8.67984L3.67925 14.77Z' stroke='%23EEAB01'/%3E%3C/svg%3E%0A");
                            }
                            &__slots {
                                background-size: contain;
                                background-image: url("data:image/svg+xml,%3Csvg width='28' height='20' viewBox='0 0 28 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M19.9028 2.45465C19.9028 1.91894 19.4466 1.48063 18.889 1.48063H1.01382C0.456221 1.48063 0 1.91894 0 2.45465V15.1169C0 15.6526 0.456221 16.0909 1.01382 16.0909H18.889C19.4466 16.0909 19.9028 15.6526 19.9028 15.1169V2.45465ZM17.8751 14.1429H2.02765V3.42867H17.8751V14.1429ZM14.2 18.526C14.2 19.0617 13.7438 19.5 13.1862 19.5H6.74194C6.18433 19.5 5.72811 19.0617 5.72811 18.526C5.72811 17.9903 6.18433 17.552 6.74194 17.552H13.1862C13.7438 17.552 14.2 17.9903 14.2 18.526Z' fill='%230B8B5D'/%3E%3Cpath d='M25.8525 14.2266V5.71748C26.8157 5.32787 27.5 4.4026 27.5 3.33118C27.5 1.91885 26.3088 0.75 24.8387 0.75C23.3687 0.75 22.1774 1.91885 22.1774 3.33118C22.1774 4.4026 22.8617 5.32787 23.8249 5.71748V5.74185L23.7854 12.4687C22.053 12.4687 20.8176 12.4687 19.9028 12.4687C19.9028 13.3477 19.9028 14.1429 19.9028 14.1429C19.9028 14.1429 19.9479 14.2266 25.8525 14.2266ZM24.8387 2.21103C25.4724 2.21103 25.9793 2.72241 25.9793 3.33118C25.9793 3.93994 25.4724 4.45126 24.8387 4.45126C24.2051 4.45126 23.6982 3.93994 23.6982 3.33118C23.6982 2.72241 24.2051 2.21103 24.8387 2.21103Z' fill='%230B8B5D'/%3E%3C/svg%3E%0A");
                            }
                            &__casino-live {
                                background-size: contain;
                                background-image: url("data:image/svg+xml,%3Csvg width='19' height='17' viewBox='0 0 19 17' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.75 10.3594C18.75 10.8062 18.3832 11.1719 17.9348 11.1719H14.1033C13.7568 11.1719 13.4511 10.989 13.3288 10.6437L12.7174 8.9375L10.7201 15.661C10.6182 16.0063 10.2921 16.25 9.94565 16.25H9.92527C9.55843 16.2297 9.23234 15.9859 9.15082 15.6203L6.52174 4.26562L4.93207 10.5828C4.85055 10.9485 4.52445 11.1719 4.13723 11.1719H0.815217C0.366848 11.1719 0 10.8062 0 10.3594C0 9.9125 0.366848 9.54688 0.815217 9.54688H3.50544L5.76766 0.589043C5.84918 0.223418 6.19565 0 6.5625 0C6.92935 0 7.25543 0.264082 7.35733 0.629707L10.0476 12.2484L11.8818 6.07342C11.9837 5.72811 12.2894 5.48438 12.6359 5.48438C12.9823 5.46406 13.3084 5.68752 13.4307 6.01252L14.6943 9.54688H17.9552C18.3831 9.54688 18.75 9.9125 18.75 10.3594Z' fill='%23B00E0E'/%3E%3C/svg%3E%0A");
                            }
                            &__table-games {
                                background-size: contain;
                                background-image: url("data:image/svg+xml,%3Csvg width='19' height='19' viewBox='0 0 19 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.75 1.77273C18.75 1.20455 18.263 0.75 17.6542 0.75H1.09578C0.487013 0.75 0 1.20455 0 1.77273V17.2273C0 17.7955 0.487013 18.25 1.09578 18.25H17.6542C18.263 18.25 18.75 17.7955 18.75 17.2273V1.77273ZM16.5584 16.2045H2.19156V2.79545H16.5584V16.2045Z' fill='%231440B3'/%3E%3Cpath d='M5.82576 8.44306C5.51583 8.15379 5.32644 7.71987 5.32644 7.30204C5.32644 6.8842 5.51583 6.48245 5.82576 6.19318C6.13569 5.90391 6.58338 5.7432 7.03106 5.71106C7.47874 5.71106 7.9092 5.88784 8.23635 6.19318C8.54629 6.48245 8.71848 6.90029 8.73569 7.30206C8.73569 7.71989 8.5635 8.13772 8.23635 8.44306C7.92642 8.73234 7.47876 8.89303 7.03108 8.89303C6.5834 8.92517 6.13569 8.73234 5.82576 8.44306ZM11.1807 12.766C11.6284 12.766 12.0761 12.6053 12.386 12.3161C12.6959 12.0268 12.8681 11.609 12.8854 11.1751C12.8854 10.7572 12.6959 10.3555 12.386 10.0662C12.0761 9.77692 11.6112 9.60014 11.1807 9.58407C10.733 9.58407 10.3026 9.76085 9.97542 10.0662C9.66549 10.3555 9.49332 10.7733 9.4761 11.175C9.4761 11.5929 9.64827 12.0107 9.97542 12.3161C10.2681 12.5893 10.7158 12.7821 11.1807 12.766Z' fill='%231440B3'/%3E%3C/svg%3E%0A");
                            }
                            &__favorites {
                                background-size: contain;
                                background-image: url("data:image/svg+xml,%3Csvg width='24' height='21' viewBox='0 0 24 21' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4832 7.55628L14.7265 8.09319L15.3141 8.14024L21.5046 8.63596L16.8642 12.3834L16.3678 12.7843L16.5222 13.4034L17.9357 19.0701L12.4907 16.0092L12.0007 15.7337L11.5107 16.0092L6.06572 19.0701L7.47919 13.4034L7.63362 12.7843L7.13721 12.3834L2.49561 8.63488L8.68613 8.13917L9.2737 8.09212L9.51709 7.55526L12.0001 2.07822L14.4832 7.55628ZM5.81374 20.0803L5.81375 20.0802L5.81374 20.0803ZM11.6208 1.24151L11.6212 1.24227L11.6208 1.24151Z' stroke='%239E1477' stroke-width='2'/%3E%3C/svg%3E%0A");
                            }
                            &__last-played {
                                background-size: contain;
                                background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.125 0.75C4.94837 0.75 0.75 4.94837 0.75 10.125C0.75 15.3016 4.94837 19.5 10.125 19.5C15.3016 19.5 19.5 15.3016 19.5 10.125C19.5 4.94837 15.3016 0.75 10.125 0.75ZM10.125 17.8696C5.84511 17.8696 2.38043 14.4049 2.38043 10.125C2.38043 5.84511 5.84511 2.38043 10.125 2.38043C14.4049 2.38043 17.8696 5.84511 17.8696 10.125C17.8696 14.4049 14.4049 17.8696 10.125 17.8696ZM13.2432 12.0815C13.5693 12.4076 13.5693 12.9171 13.2432 13.2432C13.0802 13.4063 12.8764 13.4878 12.6726 13.4878C12.4688 13.4878 12.2649 13.4063 12.1019 13.2432L9.57474 10.716C9.4117 10.553 9.33016 10.3492 9.33016 10.1454V5.29485C9.33016 4.84648 9.69701 4.47963 10.1454 4.47963C10.5937 4.47963 10.9606 4.84648 10.9606 5.29485V9.81929L13.2432 12.0815Z' fill='%235D830C'/%3E%3C/svg%3E%0A");
                            }
                        }
                        &.arrow-down {
                            background-image: url("data:image/svg+xml,%3Csvg width='11' height='6' viewBox='0 0 11 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M10.8875 0.115942C10.7358 -0.0386473 10.4895 -0.0386473 10.3379 0.115942L5.50532 5.05314L0.663291 0.115942C0.511682 -0.0386473 0.265316 -0.0386473 0.113707 0.115942C-0.0379023 0.270531 -0.0379023 0.521739 0.113707 0.676329L5.22105 5.88406C5.29685 5.96135 5.39161 6 5.49584 6C5.5906 6 5.69483 5.96135 5.77063 5.88406L10.878 0.676329C11.0391 0.521739 11.0391 0.270531 10.8875 0.115942Z' fill='%23D73649'/%3E%3C/svg%3E%0A");
                            background-repeat: no-repeat;
                            background-position: 100% 50%;
                            background-size: 11px 6px;
                            padding-right: 25px;
                        }
                    }
                    & .dropdown {
                        margin: 10px 30px 10px 0;
                        flex: 0 1 auto;
                    }
                }
                & .search-category {
                    position: relative;
                    width: 100%;
                    max-width: 350px;
                    padding-left: 48px;
                    @media (max-width: 768px) {
                        max-width: 100%;
                        padding-left: 0;
                        margin-top: 15px;
                    }
                    & .search {
                        border: 1px solid #898989;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 14px;
                        line-height: 16px;
                        color: #ffffff;
                        padding-right: 40px;
                        &::placeholder {
                            color: #ffffff;
                        }
                    }
                    & .search-icon {
                        position: absolute;
                        top: 25%;
                        right: 17px;
                        display: block;
                        width: 18px;
                        height: 19px;
                        background-image: url("data:image/svg+xml,%3Csvg width='18' height='19' viewBox='0 0 18 19' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17.7263 17.306L13.289 12.6029C14.4299 11.2207 15.055 9.48166 15.055 7.67124C15.055 3.44139 11.6781 0 7.52752 0C3.37691 0 0 3.44139 0 7.67124C0 11.9011 3.37691 15.3425 7.52752 15.3425C9.08571 15.3425 10.5706 14.8635 11.8401 13.9543L16.3111 18.6932C16.498 18.8909 16.7494 19 17.0187 19C17.2737 19 17.5156 18.9009 17.6992 18.7208C18.0893 18.3383 18.1017 17.7039 17.7263 17.306ZM7.52752 2.00119C10.5955 2.00119 13.0913 4.54471 13.0913 7.67124C13.0913 10.7978 10.5955 13.3413 7.52752 13.3413C4.45956 13.3413 1.9637 10.7978 1.9637 7.67124C1.9637 4.54471 4.45956 2.00119 7.52752 2.00119Z' fill='%2387E389'/%3E%3C/svg%3E%0A");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: contain;
                        transform: translate(0, 0);
                    }
                }
            }
            & .sub-block {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: flex-start;
                padding: 22px 0 19px 0;
                margin: 0;
                & .chapters-nav {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    justify-content: flex-start;
                    flex-wrap: wrap;
                    flex: 1 1 auto;
                    & .link {
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: normal;
                        font-size: 13px;
                        line-height: 15px;
                        color: #8187ad;
                        text-align: center;
                        text-decoration: none;
                        padding: 5px 15px;
                        border: 1px solid #282f4b;
                        border-radius: 50px;
                        margin: 0 15px 15px 0;
                        flex: 0 1 auto;
                        transition: color 0.5s, border-color 0.5s;
                        @media (max-width: 991px) {
                            flex: 1 1 auto;
                        }
                        &:hover {
                            color: #ffffff;
                            border-color: #ffffff;
                        }
                        &:focus,
                        &:active,
                        &.active {
                            color: #ffffff;
                            border-color: #d73649;
                        }
                    }
                }
            }
        }
    }
    &__header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        & .viewall-link {
            background-image: url("data:image/svg+xml,%3Csvg width='8' height='13' viewBox='0 0 8 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.737756 0.133013C0.558768 0.312187 0.558768 0.603347 0.737756 0.782521L6.4542 6.49372L0.737757 12.2161C0.558769 12.3953 0.558769 12.6864 0.737757 12.8656C0.916745 13.0448 1.2076 13.0448 1.38659 12.8656L7.41626 6.82967C7.50575 6.74008 7.5505 6.6281 7.5505 6.50491C7.5505 6.39293 7.50575 6.26975 7.41626 6.18016L1.38659 0.144212C1.2076 -0.0461617 0.916745 -0.0461626 0.737756 0.133013Z' fill='%2387E389'/%3E%3C/svg%3E%0A");
            background-position: right;
            background-repeat: no-repeat;
            background-size: 10px 13px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            text-align: right;
            color: #87e389;
            margin: 0;
            padding-right: 20px;
            text-decoration: none;
            transition: opacity 0.5s;
            @media (max-width: 575px) {
                font-size: 14px;
                line-height: 17px;
            }
            &:hover {
                opacity: 0.8;
            }
        }
    }
    &__newgames {
        margin: 51px 0 54px;
        & .games-box {
            display: grid;
            height: 100%;
            grid-template-columns: repeat(6, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 8px;
            place-items: stretch;
            place-content: stretch;
            grid-auto-columns: 30px;
            grid-auto-rows: 30px;
            grid-auto-flow: row;
            margin-top: 29px;
            @media (max-width: 991px) {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: repeat(3, 1fr);
            }
            @media (max-width: 767px) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: repeat(4, 1fr);
            }
            @media (max-width: 575px) {
                grid-template-columns: repeat(2, 2fr);
                grid-template-rows: repeat(6, 1fr);
            }
            &__newgames {
                & .game {
                    // box-shadow: 0px 0px 14px #8beb01;
                    &:hover {
                        box-shadow: 0px 0px 14px #8beb01;
                    }
                    &.big {
                        border: 5px solid #8beb01;
                    }
                }
            }
            & .game {
                cursor: pointer;
                position: relative;
                // height: 188px;
                border-radius: 17px;
                background-color: rgba(72, 80, 143, 1);
                grid-area: auto / auto / auto / auto;
                place-self: auto;
                overflow: hidden;
                transition: box-shadow 0.5s;
                @media (max-width: 1519px) {
                    height: auto;
                }
                & img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
                &.big {
                    height: 100%;
                    grid-area: 1 / 5 / 3 / 7;
                    place-self: auto;
                    background-color: rgb(141, 72, 143);
                    @media (max-width: 1200px) {
                        grid-area: 1 / 5 / 3 / 7;
                    }
                    @media (max-width: 991px) {
                        grid-area: 1 / 3 / 3 / 5;
                    }
                    @media (max-width: 767px) {
                        grid-area: 1 / 2 / 3 / 4;
                    }
                    @media (max-width: 575px) {
                        grid-area: 1 / 1 / 3 / 3;
                    }
                }
                & .game-content {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: 1;
                    & .label {
                        position: absolute;
                        top: 26px;
                        right: 0;
                        text-align: center;
                        font-family: Roboto;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 16px;
                        color: #ffffff;
                        margin: 0;
                        padding: 7px 15px;
                        @media (max-width: 1199px) {
                            top: 10px;
                        }
                        &__redgradient {
                            background: linear-gradient(270deg, #1d1269 0%, #eb0255 27.07%);
                        }
                    }
                    & .btn-area {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        & .play-now {
                            width: 126px;
                            height: 39px;
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 17px;
                            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.55);
                        }
                    }
                }
            }
            &__populargames {
                & .game {
                    // box-shadow: 0px 0px 14px #8beb01;
                    &:hover {
                        box-shadow: 0px 0px 14px #50ffe0;
                    }
                    &.big {
                        height: 100%;
                        grid-area: 1 / 1 / 3 / 3;
                        place-self: auto;
                        background-color: rgb(141, 72, 143);
                        @media (max-width: 1200px) {
                            grid-area: 1 / 1 / 3 / 3;
                        }
                        @media (max-width: 991px) {
                            grid-area: 1 / 1 / 3 / 3;
                        }
                        @media (max-width: 767px) {
                            grid-area: 1 / 1 / 3 / 3;
                        }
                        @media (max-width: 575px) {
                            grid-area: 1 / 1 / 3 / 3;
                        }
                        border: 5px solid #50ffe0;
                    }
                }
            }
            &__recomendedgames {
                & .game {
                    // box-shadow: 0px 0px 14px #8beb01;
                    &:hover {
                        box-shadow: 0px 0px 14px #4f00f7;
                    }
                    &.big {
                        height: 100%;
                        grid-area: 1 / 5 / 3 / 7;
                        place-self: auto;
                        background-color: rgb(141, 72, 143);
                        @media (max-width: 1200px) {
                            grid-area: 1 / 5 / 3 / 7;
                        }
                        @media (max-width: 991px) {
                            grid-area: 1 / 3 / 3 / 5;
                        }
                        @media (max-width: 767px) {
                            grid-area: 1 / 2 / 3 / 4;
                        }
                        @media (max-width: 575px) {
                            grid-area: 1 / 1 / 3 / 3;
                        }
                        border: 5px solid #4f00f7;
                    }
                }
            }
        }
    }
    &__winningnow {
        background-color: #20263e;
        box-shadow: 0px 0px 14px rgba(0, 0, 0, 0.25);
        & .winning-inner {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            margin: 0;
            padding: 15px 0 24px;
            @media (max-width: 767px) {
                align-items: flex-start;
                flex-direction: column;
            }
            & .winning-title {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 24px;
                line-height: 28px;
                color: #ffffff;
                min-width: 219px;
                @media (max-width: 767px) {
                    margin-bottom: 25px;
                }
            }
            & .winning-area {
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                mask-image: linear-gradient(
                    90deg,
                    transparent 1%,
                    rgba(0, 0, 0, 0.25) 30px,
                    #000 60px,
                    #000 calc(100% - 60px),
                    rgba(0, 0, 0, 0.25) calc(100% - 43px),
                    transparent
                );
                overflow-y: hidden;
                overflow-x: auto;
                &::-webkit-scrollbar {
                    @media (min-width: 1200px) {
                        display: none;
                    }
                    width: 8px;
                    height: 5px;
                    border: 0;
                }
                &::-webkit-scrollbar-button {
                    display: none;
                }
                &::-webkit-scrollbar-track {
                    border: 1px solid #121423;
                }
                &::-webkit-scrollbar-track-piece {
                    background-color: #121423;
                    width: 1px;
                }
                &::-webkit-scrollbar-thumb {
                    width: 8px;
                    height: 2px;
                    background: #32448c;
                    border-radius: 8px;
                    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.25);
                }
                &::-webkit-resizer {
                    display: none;
                }
                & .item {
                    cursor: pointer;
                    min-width: 175px;
                    display: flex;
                    flex-direction: row;
                    align-items: stretch;
                    & .image {
                        margin-right: 6px;
                        padding: 0;
                        width: 70px;
                        height: 70px;
                        border-radius: 100%;
                        overflow: hidden;
                        & img {
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    & .content {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: center;
                        & .name {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: bold;
                            font-size: 14px;
                            line-height: 18px;
                            color: #ffffff;
                        }
                        & .supname {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 400;
                            font-size: 16px;
                            line-height: 20px;
                            color: #87e389;
                            text-decoration: underline;
                        }
                        & .summary {
                            font-family: Roboto;
                            font-style: normal;
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 22px;
                            color: #ffffff;
                        }
                    }
                }
            }
        }
    }
    &__partners {
        margin-bottom: 50px;
        & .partners-row {
            max-width: 1045px;
            margin: 0 auto;
            padding: 0;
            height: auto;
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: 1fr;
            gap: 15px;
            place-items: stretch;
            place-content: stretch;
            grid-auto-columns: 30px;
            grid-auto-rows: 30px;
            grid-auto-flow: row;
            @media (max-width: 1200px) {
                grid-template-columns: repeat(4, 1fr);
                grid-template-rows: 2fr;
                gap: 30px;
            }
            @media (max-width: 991px) {
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: 3fr;
                gap: 45px;
            }
            @media (max-width: 767px) {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: 4fr;
            }
            @media (max-width: 360px) {
                grid-template-columns: repeat(1, 1fr);
                grid-template-rows: 8fr;
            }
            & .partner {
                position: relative;
                grid-area: auto / auto / auto / auto;
                place-self: auto;
                height: 41px;
                margin: 0 auto;
            }
        }
    }
}
