body {
    background-color: #1c2438;
    color: #ffffff;
    font-family: Roboto;
    font-style: normal;
}

.container {
    @media (min-width: 1520px) {
        max-width: 1420px;
    }
}

.section {
    &.section {
        &__categories {
            background: #121423;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        }
    }
}
