.footer {
    background-color: #121423;
    box-shadow: inset 0px 4px 34px rgba(0, 0, 0, 0.45);
    padding: 33px 0 55px;
    & .footer-bottom {
        display: flex;
        flex-direction: column;
        & .bottom-up-area {
            align-items: flex-start;
            margin-bottom: 21px;
        }
        & .copyrite {
            display: flex;
            flex-direction: column;
            align-self: center;
            justify-content: center;
            max-width: 895px;
            font-family: Roboto;
            font-style: normal;
            font-weight: 500;
            font-size: 10px;
            line-height: 15px;
            text-align: center;
            color: #ffffff;
            opacity: 0.8;
            & .text-aqua {
                display: contents;
                color: $text-aqua;
            }
        }
        & .footer-text-block {
            & .title {
                font-family: Roboto;
                font-style: normal;
                font-weight: bold;
                font-size: 18px;
                line-height: 19px;
                display: flex;
                align-items: center;
                color: #ffffff;
                margin-bottom: 34px;
            }
            & .description {
                font-family: Roboto;
                font-style: normal;
                font-weight: 400;
                font-size: 14px;
                line-height: 15px;
                display: flex;
                align-items: center;
                color: #ffffff;
            }
        }
    }
}
